h1{
    text-align: center;
}

p{
    text-align: center;
    border-style: outset;
}

div{
    text-align: right;
}

button{
    border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:green;
	font:bold 13px Arial;
	color:beige;
}


